<p id="notice"><%= notice %></p>

<p>
  <strong>Display at:</strong>
  <%= @frontpage.display_at %>
</p>

<%= link_to 'Edit', edit_frontpage_path(@frontpage) %> |
<%= link_to 'Back', frontpages_path %>
